/*styling for heading*/
.accHeader {
    display: flex;
    justify-content: center;
    font-family: sans-serif
}

/*styling for the details container*/
.userInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*styling for the user information*/
.userInfo {
    display: flex;
    padding: 5px 0px;
}

/*styling for the logout option in the details page*/
.logOut {
    display: flex;
    flex-direction: column;
    padding: 2vmax 0;
}

.logoutLink {
    color: rgba(0, 0, 0, 0.651);
    text-decoration: none;
    font-family: sans-serif;
}

.logoutLink:hover {
    color: black;
}